# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
05-homework/animals.csv
05-homework/richpeople.xlsx
06-homework/beer/craftcans.csv
06-homework/.DS_Store
07-homework (1)/medical-examiner/case-archive-encoded.csv
07-homework (1)/medical-examiner/.DS_Store
07-homework (1)/.DS_Store
07-homework (1)/cherry-blossoms/.DS_Store
07-homework (1)/licensing/.DS_Store
.DS_Store
*.xls
*.csv
.DS_Store
.DS_Store
08-homework/03 - School Board Minutes.ipynb
.DS_Store
11-homework/cb_2016_us_state_20m/cb_2016_us_state_20m.shx
11-homework/cb_2016_us_state_20m/cb_2016_us_state_20m.cpg
11-homework/cb_2016_us_state_20m/cb_2016_us_state_20m.dbf
11-homework/cb_2016_us_state_20m/cb_2016_us_state_20m.prj
11-homework/cb_2016_us_state_20m/cb_2016_us_state_20m.shp
11-homework/cb_2016_us_state_20m/cb_2016_us_state_20m.shp.ea.iso.xml
11-homework/cb_2016_us_state_20m/cb_2016_us_state_20m.shp.iso.xml
11-homework/cb_2016_us_state_20m/cb_2016_us_state_20m.shp.xml
11-homework/Homework 11.qgs
12-homework/homework12.qgs
12-homework/styles-osm_spatialite/osm_spatialite_googlemaps_lines.qml
12-homework/styles-osm_spatialite/osm_spatialite_googlemaps_multipolygon.qml
12-homework/styles-osm_spatialite/osm_spatialite_googlemaps_places.qml
12-homework/styles-osm_spatialite/osm_spatialite_googlemaps_roadshields.qml
12-homework/styles-osm_spatialite/osm_spatialite_tonerlite_lines.qml
12-homework/styles-osm_spatialite/osm_spatialite_tonerlite_multipolygon.qml
12-homework/styles-osm_spatialite/osm_spatialite_tonerlite_point.qml
12-homework/styles-osm_spatialite/README.md
12-homework/tl_2018_us_county/tl_2018_us_county.cpg
12-homework/tl_2018_us_county/tl_2018_us_county.dbf
12-homework/tl_2018_us_county/tl_2018_us_county.prj
12-homework/tl_2018_us_county/tl_2018_us_county.shp
12-homework/tl_2018_us_county/tl_2018_us_county.shp.ea.iso.xml
12-homework/tl_2018_us_county/tl_2018_us_county.shp.iso.xml
12-homework/tl_2018_us_county/tl_2018_us_county.shx
14-homework/Homework 14 - Reproductions.ipynb
14-homework/Homework 14 - Tips and Hints and How-Tos.ipynb
14-homework/images/stroke-stuff.png
14-homework/images/guardian.png
14-homework/images/fill-stroke.png
14-homework/images/economist.png
14-homework/images/econ-revised.png
14-homework/images/dotlines-2.png
14-homework/images/dotlines-1.png
14-homework/images/dotlines-0.png
14-homework/images/align.png
14-homework/images/buzzfeed.png
14-homework/NYT/output.pdf
14-homework/images/illustrator-graph.png
14-homework/images/sample-538.png
14-homework/images/sample-nyt.png
14-homework/images/Screen Shot 2018-02-22 at 9.39.43 AM.png
14-homework/images/Screen Shot 2018-02-22 at 9.39.49 AM.png
14-homework/NYT/percent.pdf
